.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat .chat__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.chat__headerInfo{
    flex:1;
    margin-left: 10px;
}

.chat__headerInfo h3{
    font-size: 16px;
}

.chat__headerInfo p{
    font-size: 12px;
}

.header__right{
    display: flex;
    align-items: center;
}

.header__right svg {
    font-size: 18px;
}

.chat__body{
    background-color: black;
    flex: 1;
    background-image: url('/wp_132.jpg');

    padding: 25px 10px;
    overflow-y: auto;
}

.chat__body .chat__message{
    position: relative;
    background-color: #fff;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 30px;
}

.chat__name{
    position: absolute;
    top: -18px;
    left: 5px;
    font-size: 10px;
    font-weight: bold;
}
.chat__time{
    font-size: 10px;
    margin-left: 10px;
}
.chat__receiver{
    background-color: #d6f8c6 !important;
    margin-left: auto;
}

.chat__footer{
    display: flex;
    align-items: center;
    padding: 10px;
}
.chat__footer svg{
    padding: 10px;
    color: grey;
}

.chat__footer form{
    flex: 1;
}

.chat__footer form input[type='text']{
    border:0;
    height: 40px;
    outline:0;
    width: 100%;
}

.chat__footer form input[type='submit']{
    display: none;
}

.link{
    color: black;
    text-decoration: none;
}